<launch>
  <arg name="x_pos" default="0.4"/>
  <arg name="y_pos" default="2.4"/>
  <arg name="z_pos" default="0.2"/> 
  <arg name="yaw_pos" default="1.570796"/>   

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find tel_map)/worlds/tel.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <group ns="/sakura">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find tel_map)/urdf/sakura.urdf.xacro" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" output="screen" args="-urdf -param robot_description -model sakura -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos)"/>

    <rosparam command="load" file="$(find tel_map)/config/sakura.yaml"/>
    <node pkg="controller_manager"
	type="spawner"
	name="controller"
	respawn="false"
	output="screen"
	ns="/sakura"
	args="--namespace=/sakura arm/base arm/j1 arm/j2 arm/j3 arm/j4 arm/f1 arm/f2 rot cam_y shovel roller/arm roller/slider"/>
  </group>

</launch>


